<h1><%=result[0][0]%></h1>
<h1><%=result[0][1]%></h1>
<%=result[0][2]%></h1>

>
<form action="/degree-delete/<%=result[0][0]%>/<%=result[0][1]%>/<%=result[0][2]%>" method="POST">
    <%for(i=0;i<7;i++){%>
    <input type="text" name="id" value="<%=result[0][i]%>">
    <%}%>
    <br>
<button type="submit">Save Changes</button>
</form>